@import 'tailwindcss';

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  max-width: 1400px;
}

@utility bg-color {
  background: rgb(109, 74, 174);
}

@layer utilities {
  @keyframes smoothBounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.product-image {
  position: relative;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.product-image:hover img {
  transform: scale(1.1);
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}

::-webkit-scrollbar-track {
  background: transparent;
}
